.LoginButton {
  right: 5%;
  position: fixed;
  width: 90%;
}

.ColorButton {
  background-color: #5260ff;
  height: 10%;
}

.textHome {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 90%;
  align-items: center;
  background-color: #5260ff;
}

h5 {
  color: aliceblue;
}