#bkl {
    margin: 5%;
    ion-icon {      
      margin-bottom: 2%;
      color: white;
    }
  }

.txt {
  text-align: center;
  font-size: larger;
}

.txt2 {
  text-align: start;
  font-size: medium;
  padding-left: 3%;
}

.txtalum {
  font-size: smaller;
}

.iconback {
  font-size: 30px;
  float: left;
}

.iconexit {
  font-size: 30px;
  float: right;
}