<ion-header style="background-color: black">
  <div id="bkl">
    <ion-icon class="iconback" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    <ion-icon class="iconexit" name="close-outline" [routerLink]="['/login']"></ion-icon>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title class="txt">RegistApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <p>Ingresa la dirección de correo electrónico con la que te registraste</p>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-input type="email" class="form-control" [formControl]="userEmail"  placeholder="Dirección de correo electrónico"></ion-input>
            <ion-icon name="mail"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-button class="btn btn-primary btn-lg" (click)="oneReset()">Continuar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>