<ion-header style="background-color: black">
  <div id="bkl">
    <ion-icon class="iconback" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    <ion-icon class="iconexit" name="close-outline" [routerLink]="['/login']"></ion-icon>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title class="txt">RegistApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <p>Ingresa tu correo electronico</p>
      </ion-card-header>
      <form [formGroup]="formulario" (ngSubmit)="SaveUser()">
        <ion-item>
          <ion-input [(ngModel)]="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
          <ion-icon name="mail"></ion-icon>
        </ion-item>
        <ion-card-header>
          <p>Ingresa tu nueva contraseña</p>
        </ion-card-header>
        <ion-item>
          <ion-input [(ngModel)]="password" [type]="show ? 'text' : 'password'" placeholder="Contraseña" formControlName="pass"></ion-input>
          <ion-icon [name]="passwordToggleIcon" (click)="toggleIcon()"></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-button (click)="registrar()" [disabled]="formulario.invalid">Registrar</ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>